// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin        : 0;
	padding       : 0;
	border        : 0;
	font-size     : 100%;
	font          : inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing : 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 95vh;
	background: lightblue;
}
h1{
	margin: 2% auto 0 auto;
	text-align: center;
	font-size: 2.2rem;
	
	height: 7vh;
}
.content{
	
	display: flex;
	justify-content: center;
	margin: 0 3%;
	border: 4px outset lightgray;
	height: 85vh;
	min-height: 550px;
	
	.side-bar{
		background: lightskyblue;
		width: 25%;
	}
	nav{
		display: flex;
		justify-content: space-around;
		flex-direction: column;	
		text-align: center;		
		height: 60vh;		
		
		min-width: 250px;
		
		a p{
			font-size: 1.75rem;
		}		
	}
	.main-content{
		width:75% ;
		overflow-y: auto;
		&::-webkit-scrollbar {
			display: none;
		  }
		-ms-overflow-style: none;
		background: whitesmoke;
		.page{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			
		}
		section{
			margin: 1.5% 2%;
			width: 39%;
			padding: 3%;
			border: thick inset darkgrey;
			border-radius: 5%;
		}
	}
}

.name-email{
	display: flex;
	justify-content: space-evenly;
	width: 85%;
}	
.input-msg{
	margin: 0 auto;
	width: 85%;
}

.page p {
	width: 85%;
	margin: 0 auto;
	padding: 2% 0;
	border-bottom: 1px solid #000;
}
.page{
	display: flex;
	justify-content: center;
	margin: 2% auto;
	.page-title{
		width: 100%;
		
	}
	h2{
		text-align: center;
		font-size: 2rem;
	}
	.btns{
		display: flex;
		justify-content: center;
	}
	.contact{
		display: flex;
		justify-content: space-around;
		align-items: center;

	}
	form{
		width: 100%;
	}
}